<div class="channel panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ channel.title }}</h3>
    </div>
    <div class="panel-body">
        <p>{{ channel.description }}</p>
        <ul>
            <li>Category: {{ channel.category }}</li>
            <li>Build date: {{ channel.lastBuildDate|date('Y-m-d H:i') }}</li>
            <li>Link: <a href="{{ channel.link }}">{{ channel.link }}</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="items list-group">
            {% if channel.items %}
                {% for item in channel.items if item.category|lower not in hidden_categories|split(',') and (category == null or item.category|lower == category|lower) %}
                    {% include "Ist1ChannelBundle:News:item.html.twig" %}
                {% endfor %}
            {% else %}
                <div class="panel-danger">
                    <div class="panel-body">
                        There were no news to display.
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="panel-footer">{{ channel.copyright }}</div>
</div>